h1 b {
  color: #468189;
}

nav {
  height: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 2rem;
  align-items: center;
  border-bottom: 2px solid #468189;
}

.nav-links {
  grid-column: 2 / 3;
  grid-row: 1;
  /* gap: 1rem; */

  display: flex;
  justify-content: end;
  align-items: center;
}

.login-button {
  background-color: #f4e9cd;
  color: #4C566A;
}

.register-button {
  background-color: #4C566A;
  color: #f4e9cd;
}

.login-button, .register-button {
  font-weight: bold;
  height: 2.5rem;
  width: 5rem;
  border: none;
  border-radius: 5px;
  margin: 0.1rem
}